body{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
  }
  
  #welcome-emoji{ font-size:40px}
  
  #navbar{
    background-color:#D2B48C;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;justify-content:flex-end;
  }
  
  #nav-list{
    display:flex; 
    flex-direction:row;
  }
  
  li{
    list-style:none;
  }
  
  a{
    color:white;
    text-decoration:none;
    font-size:1.5em;
    padding:0.75rem 1rem;
  }
  
  a:hover{ background-color:#437070;
  }
  
  #welcome-section{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#FFFACD;
    background-image: linear-gradient( 20deg,
    #FFFAFA 0%,
    #D2B48C 100%
    )
  }
  
  h1{	color:#264040  ;
  font-size:3rem;
  font-weight:700;
  }
  
  #welcome-section > p{
  color:black;
  font-size:1.5rem;
  font-style: italic;
  font-weight:300;
  }
  
  .projects{
  padding: 8rem 2rem; 
    text-align:center;
    background-color:#D2B48C;
  }
  
  .projects > h2{
    font-size: 3rem;
    color:#2F4F4F;
  }
  
  @media (max-width: 800px){
    .projects > h2{
      font-size:1.5rem;
      h1{
        font-size:2rem;
      }
    }
  }
  
  .project-img{
    height:calc(100-6.8rem);
    width:100%;
    object-fit:cover;
  }
  
  .project-tile{
    color:white;
    background-color:#2F4F4F;
    padding:2em 0;
    /*margin: si necessaire*/
  }
  
  .projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    /* grid-gap: si necessaire */
    width:100%
    max-width:1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }  
  
  #contact{
    background-color:;
    width:100%;
    height:50vh;
  padding: 1rem 2rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  }
  
  #contact-header > h2{
    font-size: 2em;
    color:;
     width:100%
  }
  
  #contact-header > p{
    color:;
    font-style:italic;
    text-align:center;
    font-weight:100;
    font-size:1.5rem;
    width:100%
  }